.footer {
  background-color: #323b45;
  height: 500px;
  padding: 50px 20px;
  color: white;
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
}

.footer .brand, .footer .links-uteis, .footer .sobre-nos {
  display: flex;
  flex-direction: column;
  margin-right: -20%; 
}

.footer .brand h2, .footer .links-uteis h3, .footer .sobre-nos h3 {
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}


.footer .sobre-nos {
  margin-right: 0;
}
